.FolderList__list {
  list-style-type: none;
  margin: 130px 0 0;
  padding: 0;
}
.FolderList__folder-link,
.add__button {
  background-color: #030f1f;
  color: #b5b3b3;
  display: block;
  font-family: var(--custom-font);
  font-size: 20px;
  margin: 0 0 8px auto;
  max-width: 180px;
  padding: 8px 16px;
  text-decoration: none;
}
.FolderList__folder-link:hover {
  color: #ffb72f;
  cursor: pointer;
}
.FolderList__folder-link.active {
  background-color: #102541;
}
